.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background-color: #f8f8f8;
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
}

.todo-item_content {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%
}

.todo-item_content label {
  font-size: 16px;
  cursor: default;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.todo-item_content input[type="checkbox"] {
  margin-right: 0.7rem;
  cursor: pointer;
  accent-color: #B5B5BA;
}

.todo-item_content label.completed {
  color: #B5B5BA;
  text-decoration: line-through;
}

.todo-item_delete {
  background: none;
  border: none;
  cursor: pointer;
  color: #cb0000;
}

.todo-item_delete:hover {
  text-decoration: underline;
}
